td {
    border: 2px solid; 
    height: 150px;    
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-size: 80px;
    font-style: oblique;   
    cursor: pointer;
}      

.container {
    background-color: cadetblue;
}

.endGame {
    
    width: 200px;
    top: 120px;
    background-color: cadetblue;
    position: absolute;
    left: 50%;
    position: fixed;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: -100px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 30px;
    color: white;
    font-size: 2em;
}

.rulesDiv {
    margin-top: 30px;
    margin-bottom: 30px;    
    font-family: monospace;
}

.tableDiv {
    margin-top: 30px;
    margin-bottom: 30px;
}

.titleDiv {
    margin-top: 30px;
    margin-bottom: 30px;
    
    text-align: center;
    font-family: cursive;
}



